<!DOCTYPE html>
<html>
<head>
 <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="189610091735-mjde37ejomd603ihr2fiao8s40f4578e.apps.googleusercontent.com">

</head>

<body>
    

<div id="content"></div>
<script type="text/javascript" src="/static/script.js"></script>

</body>
</html>
